<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<header>
    <h1 th:text="${hashtags.hashtagName}">#colorful</h1>
</header>
<div>
    <ul class="posts__list">
    <li th:each="post: ${hashtag.posts}" class="posts__list-item">
        <a th:text="${blogPost.postTitle}" th:href="@{'/posts/'+${post.postTitle}}" class="posts__link">Angel Fish,
        Kamaka Angel Fish</a>
    </li>
    </ul>
</div>
</body>
</html>



<!--    <p th:each>Angel Fish</p>-->
<!--    <p>Kamaka Rainbow Fish</p>-->

<!--    //campu librariess-->
<!--    ul class="books__list">-->
<!--    <li th:each="book: ${author.books}" class="books__list-item">-->
<!--        <a th:text="${book.title}" th:href="@{'/books/'+${book.title}}" class="books__link">Head First Java</a>-->
<!--    </li>-->
<!--    </ul>-->

