*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
a {
    color: blue;
}
body {
    background-image: url("images/tankpic.jpg")
}
footer{
    background-color: #ddd ;
    
    padding: 1 rem;
    text-align:  center;
    color: blue;
    border-radius: 12px;
    margin: 20px auto;
    width: 20%;;
    height: 10%;
}

h1 , h2{
    text-align: center;
}

header {
    background-color: #ddd;
    color: blue;
    
} 
/* header {
    align-items: center;
    background-color: #333;
    border-radius: 12px 12px 0 0;
    color: #ddd;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 20px 0;
  } */

img{
    align-content: center;
}

ul {
    text-align: inline;
}

.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}
.categories{
    display: inline-block;
}
.page-title {
    text-align: center;
}

.post {
    background-color: #ddd;
    color: blue;
    
}

  